name: Deploy React App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: root
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ec2-user/digital_esign
            git pull
            podman build --no-cache -t digital-esign-ui .
            podman stop digital-esign || true
            podman rm digital-esign || true
            podman run -d -p 80:80 --name digital-esign digital-esign-ui